.input-text{
    width: 60%;
    height: 30px;
    margin: 10px 0px;
    border: 0px;
    border-radius: 10px;
    text-align: center;
    margin: 20px 0px;
}

.post-bottom{
    display:flex;
    align-items: center;
    color: white;
    border-radius: 15px;
    height: 35px;
    justify-content:center;
    border: 0px;
    padding: 20px 15px;
    margin: 20px 0px;
}

.post-bottom:hover{
    transform: scale(1.1);
}
