.navbar-main{
    position: fixed;
    top: 0px;
    height: 50px;
    padding: 0px 23px;
    width: 100%;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.logo{
    margin: 20px 0px;
}

@keyframes rotate{
    0%{ left: -300px;
    }
    100%{
        left: 0px;
    }
}

.nav-menu{
    
    z-index: 2;
    animation: rotate 0.1s linear;
    top: 50px;
    width:300px;
    display: flex;
    flex-direction:column; 
    align-items: center;    
}

.nav-item{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 80%;
    border-radius: 10px;
    margin-top: 20px;
    padding: 5px;
}

.nav-item:hover{
    background-color: rgba(205,205,205,0.2);  
}

.nav-color{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items:center;
    align-content:center;
    
}

.nav-color p{
}

.col{
    border: 2px solid white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}



@media screen and (max-width: 600px) {
    .nav-menu{
        border: 1px solid;
        top: 80px;
    }
}
