.input-text{
    width: 60%;
    height: 30px;
    margin: 10px 0px;
    border: 0px;
    border-radius: 10px;
    text-align: center;
    margin: 20px 0px;
}

.post-bottom{
    display:flex;
    align-items: center;
    color: white;
    border-radius: 15px;
    height: 35px;
    justify-content:center;
    border: 0px;
    padding: 20px 15px;
    margin: 20px 0px;
}

.post-bottom:hover{
    transform: scale(1.1);
}

.selection{
    width:200px;
    height: 40px;
    margin: 20px 0px;
    max-width: 80%;
    border: 0px;
    border-radius: 15px;
    text-align:center;
}


.options-styled{
    height:30px;
    width: 190px;
    max-width:78%;
    border-radius: 15px;
    text-align:center;
    color: #fff;
}
.menu-centrado{
    position:absolute;
    align-self :center;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    width: 500px;
    max-width: 70%;
    border-right: 9px solid;
    border-bottom: 9px solid;
    border-radius: 13px;
}

.menu-centrado form {
    width:100%;
}
.menu-centrado h2{
    color: #fff;
}

.container-button{
    display:grid;
    grid-template-columns: 50% 50%;
}

.dual-button{
    background-color: rgba(0,0,0,0);
    padding: 10px;
    border:1px solid  white;
    color: white;
}
.main{
    border-radius: 20px 0 0 20px;
}

.secundary{
    border-radius: 0 20px 20px 0;
}






