.home-back{
    position: fixed;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

.home-options{
    background-color: rgba(2,2,2, 0.3); 
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    color: #fef;
}
.home-options a{
    color: #fef;
    text-decoration: none;

}



@media screen and (max-width: 600px) {
    
    .home-back{
        display:flex;
        align-items:center;
        justify-content: center;
    }
}
